body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: rgb(243, 142, 219);
    color: white;
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    color: palevioletred;
    text-shadow: 2px 2px 4px rgb(239, 190, 214);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    background-color: rgb(6, 7, 7);
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 30px 0;
    font-size: 25px;
  }
  
  img {
    border-radius: 20px;
    transition: transform .2s, box-shadow .2s;
  }
  
  img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  footer {
    background-color: rgb(243, 142, 219);
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 50px;
    margin-top: 20px;
  }